*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Lato;
}

h1{
  text-align: center;
}

#gradient_layout{
  width: auto;
  height: 100vh;
  margin: 20vw;
  padding: 30vw;
  background: linear-gradient(#e66465, #9198e5);
}