@font-face{
  font-family: CallingCode;
  src: url("CallingCode-Regular.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light: #fff;
  --dark: #000;
}

body{
  background-color: #000;
  color: #fff;
  font-family: Lato;
}

h1{
  text-align: center;
}

#card_layout{
  padding: 20px;
  background: linear-gradient(#e66465, #9198e5);
}

.card{
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.code{
  font-family: Consolas, 'Courier New', monospace;
}



.night_switch{
  --light: #d8dbe0;
  --dark: #28292c;
  --wdth: 100px;
  --hght: 50px;
  width: var(--wdth);
  height: var(--hght);
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  }
  
  .switch_label {
  position: absolute;
  width: 100%;
  height: var(--hght);
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
  }
  
  .checkbox {
  position: absolute;
  display: none;
  }
  
  .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  }
  
  .checkbox:checked + .slider {
  background-color: var(--light);
  }
  
  .slider:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(var(--hght) / 2);
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: .3s;
  }
  
  .checkbox:checked + .slider:before {
  transform: translateX(calc(var(--wdth) - var(--hght)));
  background-color: var(--dark);
  box-shadow: none;
  }